@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;500;600;700&family=Lexend+Deca:wght@100;200;300;400&family=Outfit:wght@100;300;400;600&family=Red+Hat+Display:wght@300;400;500;700;900&display=swap');
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    background-origin: ;
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg); 
    background-repeat: no-repeat, no-repeat;
    background-position: -270px -480px, 650px 420px;   
}
section{
    font-family: "Kumbh Sans", sans-serif;
    text-align: center;
    background-color: white;
    width: 320px;
    height: 370px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: hsl(185, 75%, 31%) 10px 10px 30px;
}
.photo{
    position: relative;
}
#card{
    width: 320px;
    height: 140px;
    border-radius: 13px 13px 0px 0px;
}
#user-photo{
    position: absolute;
    top: 87px;
    left: 110px;
    border-radius: 55px;
    border: solid white;
    border-width: 5px;
}

.info{
    color: hsl(229, 23%, 23%);
    padding-top: 45px;
    line-height: 28px;
    font-weight: 700;
    font-size: 18px;
}
#first{
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}
#second{
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: 14px;
}
.statistics{
    width: 280px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: solid hsl(0, 0%, 89%);
    border-width: 1px;
}
.item{
}
.num{
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 3px;
}
.txt{
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
}

@media screen and (max-width: 375px){
    body{
        background-size: 150%, 150%;
        background-position: -320px -330px, 180px 380px;   
    }
}